env
.env
.envrc
.env.local
.envrc.local
.envrc.docker
.envrc.docker.local
venv
.venv
__pycache__
.coverage
.pytest_cache
.pyrc
books.db
flake8_html_report
.terraform
terraform.tfstate
terraform.tfplan
terraform.tfstate.backup
.terraform.lock.hcl
variables.tf
terraform/variables.tf
cov_html
htmlcov
