ui = true
api_addr = "https://${host_fqdn}:443"


storage "file" {
  path="/vault/data"
}

listener "tcp" {
  address="0.0.0.0:443"
  tls_disable=0
  tls_cert_file = "/etc/letsencrypt/live/${host_fqdn}/fullchain.pem"
  tls_key_file = "/etc/letsencrypt/live/${host_fqdn}/privkey.pem"
}
